<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445878881342-tkbejpdcngip722inib2rhsslfeav4jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445878881342-tkbejpdcngip722inib2rhsslfeav4jj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>445878881342-6e14cbukmh25kbmd1ps7aq171tutnhis.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZWf8N0pXlSsfSUHe3nr3CCnK7BJy65mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>445878881342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.tdsof.kyan</string>
	<key>PROJECT_ID</key>
	<string>kyan-app-355903</string>
	<key>STORAGE_BUCKET</key>
	<string>kyan-app-355903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445878881342:ios:8c930546911dba1d5e556f</string>
</dict>
</plist>